.accordion {
  width: 100%;
  max-width: 1000px;
  margin-left: 220px;
  margin-bottom: 50px;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f8f8f8;
}

.accordion-title h2 {
  font-size: 21px;
}

.accordion-content p {
  font-size: 18px;
}

.accordion-title span {
  font-size: 30px;
}

.accordion-content {
  padding: 20px;
  border-top: none;
}
