.application-form {
  background-color: #e0f0ff;
  padding: 20px;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 450px;
  margin-right: auto;
}

.application-form h2 {
  text-align: center;
  color: #0056b3;
}

.application-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.application-form label {
  margin-bottom: 8px;
  width: 90%;
}

.application-form input {
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.application-form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
  align-self: center;
}

.application-form button:hover {
  background-color: #0056b3;
}

.application-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
}

.thank-you-message h1 {
  text-align: center;
  color: #007bff;
  padding: 20px;
}
