.arenda .text-content {
  padding: 20px;
  width: 78%;
  text-align: left;
  margin-left: 200px;
  margin-top: 20px;
  transition: none;
}

.arenda .text-content h1 {
  font-size: 25px;
}

.arenda .text-content h2 {
  font-size: 22px;
  margin-top: 35px;
  margin-bottom: 15px;
}

.arenda .text-content h3 {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.arenda .text-content p {
  font-size: 18px;
  margin-top: 25px;
}

.custom-list li {
  padding-left: 1em;
  text-indent: -1em;
  font-size: 18px;
}

.custom-list {
  list-style: none;
  padding: 0;
}

ul {
  line-height: 1.6;
}

.custom-list li:before {
  content: "–";
  padding-right: 0.5em;
}

.rental-table {
  margin-top: 20px;
}

.rental-table table {
  width: 60%;
  border-collapse: collapse;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

.rental-table th,
.rental-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.rental-table th[rowSpan="2"] {
  vertical-align: middle;
}

.rental-table th {
  background-color: #fff;
  font-weight: bold;
  text-align: center;
}

.rental-table tr:nth-child(even) {
  background-color: #fff;
}

.rental-table tr:hover {
  background-color: #f1f1f1;
}

.rental-table td {
  background-color: #fff;
}

.rental-table p {
  font-size: 18px;
}
